* {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica;
    grid-template-columns: 1.8fr 3fr;
    grid-template-rows: 3fr 75px;
}

h1 {
    margin: 0px;
}

div  {
    background-color: #F3F3F3;
    grid-row: span 2;
}

.profile-info {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
}

.star-psych div {
    margin: 0;
}

.star-psych p {
    margin: 0;
    font-size: larger;
}

footer {
    background-color: #66D188;
    background: linear-gradient(to right,#66D188 50%, #59BE7C 50%);

}

aside {
    background-color: white;
}

aside h3 {
    color:lightgray;
    margin: 0;
    position: relative;
    top: 10px;
    left: 10px;
}

aside img {
    width: 75%;

}
.image {
    background-color: white;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
}

.description {
    margin: 30px;
    margin-left: 50px;
    margin-right: 100px;
    line-height: 1.8;
    font-size: large;
    color: grey;

}

.bottom-description {
    bottom: 10px;
    margin-left: 50px;
}

.bottom-description h3 {
    margin: 0;
}

.bottom-description p {
    margin: 0;
}

.star-psych {
    margin-left: 50px;
}

h1 {
    margin-left: 50px;
}

.fa-phone {
    font-size: 40px;
    color: white;
}

.fa-comments {
    font-size: 40px;
    color: white;
}

#full {
    color: #F1D755;
}

#empty {
    color: #CDCDCD;
}